.filters
    display: flex
    justify-content: center
    gap: 2.5rem
    border-bottom: 1px solid #ccc
    padding-bottom: 1rem

    p
        display: flex
        align-items: center
        gap: .3rem
        color: #046D8B

        svg
            font-size: 1.2rem

        &:hover
            transform: scale(1.1)
            cursor: pointer
            transition: .3s
            color: #0fa4ce

