.tittle_home
    display: flex
    flex-direction: column
    justify-content: center
    gap: 1rem
    margin: 1rem auto
    font-size: 30px
    text-align: center
    background-color: #fff4b6

    h2
        color: #0fa4ce

    p
        font-weight: 200
        color: #0fa4ce
    